.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/* styles from flat-ui-free2.0.0-fix.less files */
body {
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.231;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
a {
  color: #16a085;
  text-decoration: none;
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
a:hover {
  color: #1abc9c;
  text-decoration: none;
}
h1,
.h1 {
  font-size: 48px /* 64px */;
}
h2,
.h2 {
  font-size: 41px /* 52px */;
}
h3,
.h3 {
  font-size: 32px /* 40px */;
}
h4,
.h4 {
  font-size: 23px /* 29px */;
}
h5,
.h5 {
  font-size: 21px /* 28px */;
}
h6,
.h6 {
  font-size: 19px /* 24px */;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2em;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 18.004px;
  /* 18px */
  line-height: 1.722169;
  /* 31px */
}
.lead {
  font-size: 28px;
  /* 28px */
  line-height: 1.4642745;
  /* 41px */
  font-weight: 300;
  margin-bottom: 20px;
}
small {
  font-size: 84%;
  /* 15px */
  line-height: 2.050846;
  /* 31px */
}
blockquote {
  position: relative;
  border-left: none;
  padding-left: 19px;
}
blockquote p {
  font-size: 20.006px;
  line-height: 1.549829;
  font-weight: normal;
  margin-bottom: .4em;
}
blockquote small {
  font-size: 18.004px;
  line-height: 1.722169;
  font-style: italic;
  color: #34495e;
}
blockquote small:before {
  content: "";
}
blockquote:before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #ebedee;
  content: "";
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.img-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.img-comment {
  font-size: 14.994px;
  line-height: 1.231;
  font-style: italic;
  margin: 24px 0;
}
.text-primary {
  color: #1abc9c;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #15967d;
}
.text-success {
  color: #2ecc71;
}
a.text-success:hover,
a.text-success:focus {
  color: #25a35a;
}
.text-danger {
  color: #e74c3c;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b93d30;
}
.text-warning {
  color: #f1c40f;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #c19d0c;
}
.text-info {
  color: #3498db;
}
a.text-info:hover,
a.text-info:focus {
  color: #2a7aaf;
}
.text-inverse {
  color: #ffffff;
}
a.text-inverse:hover,
a.text-inverse:focus {
  color: #cccccc;
}
.muted {
  color: #bdc3c7;
}
a.muted:hover,
a.muted:focus {
  color: #979c9f;
}
footer {
  background-color: transparent;
}
.input-append input {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
html,
body {
  height: 100%;
}
body {
  overflow-x: hidden;
  color: #7f8c8d;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
li {
  line-height: 20px;
}
.btn {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 22px;
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
.btn.btn-large {
  font-size: 17px;
  padding: 12px 18px;
}
.btn > [class^="fui-"] {
  margin-left: 4px;
  margin-right: 4px;
  line-height: inherit;
  display: inline-block;
  vertical-align: top;
}
.input-group-btn .btn {
  background: #bdc3c7;
  line-height: 9px 12px 10px;
  line-height: 22px;
  border: 0;
  margin: 0;
  color: #fff;
  margin-left: 0 !important;
  padding-left: 10px;
  padding-right: 12px;
}
.input-group-btn .btn:hover {
  background: #cacfd2;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  outline: none;
}
.form-group {
  margin-bottom: 10px;
}
label {
  line-height: 20px;
}
.carousel {
  line-height: 1;
}
.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
}
.page-wrapper {
  position: relative;
  z-index: 2;
  background: #fff;
  overflow: hidden;
  min-height: 100%;
}
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loaded .page-wrapper,
.loaded .header-antiflicker,
.loaded body > header .header-background {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
.loaded.nav-visible .page-wrapper,
.loaded.nav-visible .navbar.navbar-fixed-top,
.loaded.nav-visible .header-antiflicker,
.loaded.nav-visible body > header .header-background {
  -webkit-transform: translate3d(-230px, 0, 0);
  -moz-transform: translate3d(-230px, 0, 0);
  -o-transform: translate3d(-230px, 0, 0);
  transform: translate3d(-230px, 0, 0);
}
.loaded.no-csstransitions .page-wrapper,
.loaded.no-csstransitions .header-antiflicker {
  left: 0;
}
.loaded.no-csstransitions.nav-visible .page-wrapper,
.loaded.no-csstransitions.nav-visible .navbar.navbar-fixed-top,
.loaded.no-csstransitions.nav-visible .header-antiflicker {
  left: -230px !important;
  right: auto;
}
.carousel-indicators {
  width: 100%;
}
[class^="fui-"] {
  display: inline-block;
  vertical-align: middle;
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 5px;
    padding-left: 5px;
  }
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
  outline: none;
}
#bgVideo {
  overflow: hidden;
}
#bgVideo > video {
  position: absolute !important;
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 20;
  filter: alpha(opacity=2000);
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.navbar {
  left: 0;
  right: 0;
}
.navbar .brand {
  padding: 23px 28px 24px 0;
  float: left;
}
.navbar .subnav {
  display: none;
}
.navbar a {
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
.navbar .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.navbar .nav > li {
  float: left;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  background: none;
}
.navbar .navbar-toggle {
  margin: 26px 0 10px;
  color: white;
  background: none;
  padding: 0;
  width: 30px;
  height: 30px;
  background: url("../../startup/common-files/icons/menu-icon@2x.png") 50% no-repeat;
  -webkit-background-size: 17px 12px;
  -moz-background-size: 17px 12px;
  -o-background-size: 17px 12px;
  background-size: 17px 12px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar .navbar-toggle:before {
  display: none;
}
.navbar .navbar-form .btn {
  height: auto;
  line-height: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar .nav > li > a > [class*="fui-"] {
  font-size: 24px;
  margin: -10px 0 0;
  position: relative;
  top: 4px;
}
.navbar.navbar-fixed-top {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-width: 1170px;
  margin: 0 auto;
}
.loaded .navbar.navbar-fixed-top {
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-header {
    float: none;
  }
}
.header-19 .navbar-collapse.collapse,
.header-16 .navbar-collapse.collapse {
  display: none !important;
}
@media (max-width: 991px) {
  body .navbar-collapse {
    width: 230px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100% !important;
    z-index: 1;
  }
}
@media (min-width: 992px) {
  body > .collapse.navbar-collapse {
    display: none !important;
  }
}
body .navbar-collapse#header-19,
body .navbar-collapse#header-16 {
  width: 230px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100% !important;
  z-index: 1;
}
body > .navbar-collapse {
  padding: 25px 0;
  overflow: auto;
  background: #222527;
  min-height: 100%;
}
body > .navbar-collapse::-webkit-scrollbar {
  display: none;
}
body > .navbar-collapse .pull-right,
body > .navbar-collapse .pull-left {
  float: none !important;
}
body > .navbar-collapse .nav {
  margin: 0 0 10px;
}
body > .navbar-collapse .nav > li {
  margin: 0;
}
body > .navbar-collapse .nav > li > a {
  display: block;
  padding: 12px 35px;
  border-bottom: 2px solid #24292d;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #5b5e61;
  text-transform: uppercase;
}
body > .navbar-collapse .nav > li > a:hover,
body > .navbar-collapse .nav > li > a:focus,
body > .navbar-collapse .nav > li > a.active {
  color: #ffffff;
}
body > .navbar-collapse .nav > li > a:hover,
body > .navbar-collapse .nav > li > a:focus {
  background: none;
}
body > .navbar-collapse .nav > li.active > a {
  color: #ffffff;
}
body > .navbar-collapse .nav > li.active > a:hover,
body > .navbar-collapse .nav > li.active > a:focus,
body > .navbar-collapse .nav > li.active > a.active {
  color: #ffffff;
}
body > .navbar-collapse .subnav {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
body > .navbar-collapse .subnav li > a {
  display: block;
  margin: 0;
  padding: 7px 35px;
  font-size: 13px;
  font-weight: normal;
  color: #5b5e61;
  text-transform: capitalize;
}
body > .navbar-collapse .subnav li > a:hover,
body > .navbar-collapse .subnav li > a:focus,
body > .navbar-collapse .subnav li > a.active {
  color: #ffffff;
}
body > .navbar-collapse .navbar-form,
body > .navbar-collapse .navbar-search {
  padding: 10px 35px;
  margin: 0;
  border-bottom: 0 none;
  border-top: 0 none;
  box-shadow: none;
}
body > .navbar-collapse .navbar-form:focus,
body > .navbar-collapse .navbar-search:focus {
  outline: 0 none;
}
body > .navbar-collapse .navbar-form .btn,
body > .navbar-collapse .navbar-search .btn,
body > .navbar-collapse .navbar-form .btn-primary,
body > .navbar-collapse .navbar-search .btn-primary {
  height: 30px;
  line-height: 20px;
  font-size: 15px;
  color: #5b5e61;
  background: none;
  padding: 0;
}
body > .navbar-collapse .navbar-form .btn:hover,
body > .navbar-collapse .navbar-search .btn:hover,
body > .navbar-collapse .navbar-form .btn-primary:hover,
body > .navbar-collapse .navbar-search .btn-primary:hover {
  color: #fff;
}
/**
 * Header 8 stylesheet  
 * */
.header-8-startup-antiflicker {
  border-bottom: 1px #bdc3c7 solid;
}
.header-8 {
  padding-top: 0;
  padding-bottom: 0;
  z-index: 100;
  width: 100%;
  height: 110px;
}
.header-8 .header-background {
  background: #fff;
}
.header-8 .navbar {
  position: relative;
  top: 0;
  z-index: 2;
  margin: 18px 0 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header-8 .navbar.navbar-fixed-top {
  top: 0 !important;
}
.header-8 .navbar .brand {
  padding-top: 18px;
  font-size: 17px;
  font-weight: normal;
  color: #34495e;
  font-weight: 800;
}
.header-8 .navbar .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
.header-8 .navbar .nav {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: visible;
  text-align: center;
}
.header-8 .navbar .nav > li {
  float: none;
  display: inline-block;
  line-height: 15px;
  margin-left: 50px;
}
.header-8 .navbar .nav > li:first-child {
  margin-left: 0;
}
.header-8 .navbar .nav > li > a {
  padding: 30px 0 22px;
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
  font-weight: 800;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #95a5a6;
}
.header-8 .navbar .nav > li > a:hover,
.header-8 .navbar .nav > li > a:focus,
.header-8 .navbar .nav > li > a.active {
  color: #34495e;
}
.header-8 .navbar .nav > li.active > a {
  color: #34495e;
}
.header-8 .navbar .nav > li.active > a:hover,
.header-8 .navbar .nav > li.active > a:focus,
.header-8 .navbar .nav > li.active > a.active {
  color: #34495e;
}
.header-8 .navbar .navbar-header {
  position: relative;
  z-index: 2;
}
.header-8 .navbar .navbar-toggle {
  background-image: url("../../startup/common-files/icons/menu-icon-header-8@2x.png");
  -webkit-background-size: 17px 12px;
  -moz-background-size: 17px 12px;
  -o-background-size: 17px 12px;
  background-size: 17px 12px;
  margin-top: 22px;
}
.header-8-sub {
  position: relative;
  padding-top: 95px;
  padding-bottom: 0;
}
.header-8-sub h3 {
  font-size: 35px;
  font-weight: normal;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 300;
  color: #2c3e50;
}
.header-8-sub .lead {
  font-size: 24px;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: 300;
  color: #2c3e50;
}
.header-8-sub .background {
  background-image: url("../../startup/common-files/img/Italy_001.jpg");
  background-position: 50% 0;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
.header-8-sub img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
/**
 * Content 5 stylesheet  
 * */
.content-5 {
  padding-top: 130px;
  padding-bottom: 120px;
  position: relative;
}
.content-5 .container > img {
  display: block;
  margin: 0 auto 50px;
}
.content-5 h3 {
  margin: 0 0 21px;
  font-size: 35px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}
@media (max-width: 767px) {
  .content-5 h3 {
    margin-bottom: 15px;
  }
}
.content-5 h3 + .lead {
  font-size: 25px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: center;
}
@media (max-width: 767px) {
  .content-5 h3 + .lead {
    line-height: 1.25;
  }
}
@media (max-width: 480px) {
  .content-5 {
    padding-bottom: 40px;
  }
}
.content-5 .features > [class*="col-sm-"] {
  position: relative;
  margin-top: 40px;
}
.content-5 .features > [class*="col-sm-"] > [class*="fui-"] {
  position: absolute;
  left: -45px;
  top: 7px;
  font-size: 25px;
  font-weight: normal;
  color: #2c3e50;
}
@media (max-width: 767px) {
  .content-5 .features > [class*="col-sm-"] > [class*="fui-"] {
    position: static;
    float: left;
    margin: -7px 20px 0 0;
  }
}
.content-5 .features > [class*="col-sm-"] p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
.content-5 .features > [class*="col-sm-"] h6 {
  font-size: 22px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin-bottom: 14px;
  text-transform: none;
}
.projects-* .pt-perspective {
  position: relative;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}
.projects-* .pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.projects-* .pt-page-current,
.projects-* .no-js .pt-page {
  visibility: visible;
  z-index: 1;
}
.projects-* .pt-page-ontop {
  z-index: 999;
}
.projects-* .v-center {
  display: table;
  width: 100%;
}
.projects-* .v-center > * {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  float: none;
}
@media (max-width: 767px) {
  .projects-* .v-center.row {
    display: block;
    width: auto;
  }
  .projects-* .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
/**
 * Project 4 stylesheet  
 * */
.projects-4 {
  padding-top: 110px;
  padding-bottom: 110px;
}
.projects-4 h3 {
  margin: 0 0 60px;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}
.projects-4 .projects + .projects {
  margin-top: 80px;
}
.projects-4 .projects .photo-wrapper {
  height: 145px;
  position: relative;
  overflow: hidden;
}
.projects-4 .projects .photo {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  background: 50% 50% no-repeat;
  opacity: 30;
  filter: alpha(opacity=3000);
  opacity: 0.3;
  filter: alpha(opacity=30);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.projects-4 .projects .overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  color: #fff;
  line-height: 145px;
}
.projects-4 .projects .overlay [class*="fui-"] {
  font-size: 46px;
}
.projects-4 .projects .info {
  text-align: left;
  font-size: 13px;
  color: #95a5a6;
  margin-top: 27px;
}
.projects-4 .projects .info b {
  color: #7f8c8d;
}
.projects-4 .projects .name {
  color: #34495e;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}
.projects-4 .projects .name.color-pomegranate:hover,
.projects-4 .projects .name.color-pomegranate.hover {
  color: #c0392b;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.projects-4 .projects .name.color-orange:hover,
.projects-4 .projects .name.color-orange.hover {
  color: #f39c12;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.projects-4 .projects .name.color-belize-hole:hover,
.projects-4 .projects .name.color-belize-hole.hover {
  color: #2980b9;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.projects-4 .projects .name.color-green-sea:hover,
.projects-4 .projects .name.color-green-sea.hover {
  color: #16a085;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.projects-4 .projects .project:hover .photo {
  opacity: 40;
  filter: alpha(opacity=4000);
  opacity: 0.4;
  filter: alpha(opacity=40);
}
@media (max-width: 767px) {
  .projects-4 .projects .project-wrapper + .project-wrapper {
    margin-top: 80px;
  }
}
.content-26 {
  position: relative;
  padding-top: 125px;
  padding-bottom: 125px;
  text-align: center;
}
.content-26 .lead {
  font-size: 22px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 0;
}
.content-26 h3 {
  font-size: 35px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0 0 36px;
}
@media (max-width: 767px) {
  .content-26 .features {
    margin-top: -52px;
  }
}
.content-26 .features h6 {
  text-transform: none;
  margin-top: 37px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.content-26 .features > * {
  margin-top: 67px;
}
.content-35 {
  position: relative;
  color: #7f8c8d;
  overflow: hidden;
}
.content-35 .container {
  padding-top: 190px;
  padding-bottom: 100px;
  min-height: 925px;
}
@media (max-width: 767px) {
  .content-35 .container {
    min-height: 0;
    padding-top: 160px;
    padding-bottom: 80px;
  }
}
.content-35 .bx-viewport {
  border-radius: 0!important;
  box-shadow: none!important;
  border: none!important;
  background: none!important;
}
.content-35 > * {
  position: relative;
}
.content-35 h2 {
  font-size: 35px;
  line-height: 40px;
  color: #2c3e50;
  font-weight: 300;
  margin: 0 0 40px;
}
.content-35 .lead {
  font-size: 20px;
  line-height: 36px;
  margin: 0 0 25px;
}
.content-35 .btn {
  font-weight: 500;
  padding-left: 26px;
  padding-right: 26px;
  margin-bottom: 20px;
  color: #fff;
}
.content-35 .btn:hover {
  color: #fff;
}
.content-35 .btn.btn-inverse {
  background: #2c3e50;
}
.content-35 a {
  color: #2c3e50;
  text-decoration: none;
  border-bottom: 1px solid #abb0b5;
}
.content-35 a:hover {
  color: #64686c;
}
.content-35 .ask-question {
  font-size: 20px;
  display: inline-block;
  line-height: 26px;
}
.content-35 .tech-info {
  color: #7f8c8d;
  padding-top: 80px;
  margin: 0;
}
.content-35 .tech-info dt,
.content-35 .tech-info dd {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}
.content-35 .tech-info dt {
  float: left;
  width: 190px;
}
.content-35 .tech-info dd {
  display: block;
  overflow: hidden;
  color: #2c3e50;
}
.content-35 .columns {
  margin-top: 50px;
}
.content-35 .columns h3 {
  font-size: 20px;
  color: #34495e;
  line-height: 28px;
  margin: 0 0 20px;
  font-weight: 500;
}
.content-35 .columns p {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
}
.content-35 .columns a {
  display: block;
  border: none;
}
.content-35 .columns img,
.content-35 .columns strong,
.content-35 .columns b {
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.content-35 .columns img {
  margin-top: 20px;
  margin-bottom: 45px;
}
.content-35 .columns a:hover img {
  opacity: 0.9;
}
.content-35 .columns b {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  letter-spacing: -1px;
  color: #34495e;
  display: inline-block;
  border-bottom: 1px solid #fff;
}
.content-35 .columns h3 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 15px;
  letter-spacing: -1px;
  color: #34495e;
}
.content-35 .columns a:hover strong {
  border-bottom: 1px solid #d5d6d6;
}
.content-35 .columns span {
  font-size: 16px;
  line-height: 26px;
  color: #7f8c8d;
  display: block;
}
.content-35 .columns span.svgIcon {
  display: inline-block;
  padding-left: 8px;
}
@media (max-width: 767px) {
  .content-35 .columns .col-sm-6:not(:first-child) {
    margin-top: 60px;
  }
}
.content-35 .background {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
.content-35 .background > .container {
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
}
@media (max-width: 767px) {
  .content-35 .background > .container {
    height: 250px;
    margin-bottom: 60px;
  }
}
.content-35 .background.bread .col-sm-4 > div {
  background: none;
}
.content-35 .background.doc .col-sm-4 > div {
  background: #d5e3e0;
}
.content-35 .background .col-sm-4 {
  position: absolute;
  height: 100%;
}
.content-35 .background .col-sm-4 > div {
  position: absolute;
  right: 0;
  height: 100%;
  width: 1000px;
  background: #f3f3f3;
  margin: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 767px) {
  .content-35 .background .col-sm-4 > div {
    position: static;
    width: 100%;
    overflow: hidden;
  }
}
.content-35 .background .col-sm-4 > div img {
  height: 100% !important;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 767px) {
  .content-35 .background .col-sm-4 > div img {
    height: auto;
    min-height: 250px;
  }
}
@media (max-width: 767px) {
  .content-35 .background .col-sm-4 {
    left: 0;
    right: 0;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .content-35 .background {
    visibility: hidden;
  }
}
@media (max-width: 767px) {
  .content-35 {
    padding-top: 0;
  }
}
.content-35 .contact {
  padding: 30px 0 10px 92px;
  background: url('../../startup/common-files/img/content/anthony.png') no-repeat center left;
  color: #7f8c8d;
  font-size: 16px;
  line-height: 26px;
  border-top: 1px solid #ebedee;
  margin-top: 85px;
}
.content-35-slider-item {
  overflow: hidden;
}
.content-35-customPager {
  position: absolute;
  left: 50%;
  top: 100px;
  z-index: 3;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 1200px) {
  .content-35-customPager {
    margin-left: -88px;
  }
}
@media (max-width: 1199px) {
  .content-35-customPager {
    margin-left: -70px;
  }
}
@media (max-width: 991px) {
  .content-35-customPager {
    margin-left: -52px;
  }
}
@media (max-width: 767px) {
  .content-35-customPager {
    margin-left: 15px;
    left: 0;
    top: 70px;
  }
}
.content-35-customPager li {
  float: left;
  margin-right: 15px;
}
.content-35-customPager li a {
  -webkit-transition: color 0.25s, opacity 0.25s, text-indent 0.25s;
  -moz-transition: color 0.25s, opacity 0.25s, text-indent 0.25s;
  -ms-transition: color 0.25s, opacity 0.25s, text-indent 0.25s;
  -o-transition: color 0.25s, opacity 0.25s, text-indent 0.25s;
  transition: color 0.25s, opacity 0.25s, text-indent 0.25s;
  list-style: none;
  cursor: pointer;
  width: 2px;
  height: 2px;
  border: 2px solid #2c3e50;
  overflow: hidden;
  display: block;
  color: #2c3e50;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  padding: 3px;
  text-indent: -20px;
}
.content-35-customPager li a:hover,
.content-35-customPager li a:focus,
.content-35-customPager li a.active {
  background-color: #2c3e50;
  opacity: 1;
  color: #2c3e50;
}
.content-35-customPager li .fui-list {
  position: relative;
  top: -6px;
  cursor: pointer;
}
.content-35-customPager li .fui-list:before {
  color: #303336;
  font-size: 16px;
  -webkit-transition: color 0.6s;
  -moz-transition: color 0.6s;
  -o-transition: color 0.6s;
  transition: color 0.6s;
}
.content-35-customPager.showmenu .fui-list:before {
  color: #7f8c8d;
}
.content-35-customPager.showmenu a {
  border: none;
  border-bottom: 1px dashed #7f8c8d;
  width: auto;
  height: auto;
  font-size: 16px;
  color: #7f8c8d;
  position: relative;
  top: -4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  background: none !important;
  line-height: 18px;
  padding: 0;
  text-indent: 0;
}
.content-35-customPager.showmenu a.active,
.content-35-customPager.showmenu a:hover,
.content-35-customPager.showmenu a:focus {
  border-bottom-color: transparent;
  color: #2c3e50;
}
.content-35-customPager .manuicon {
  position: relative;
  top: -7px;
  cursor: pointer;
}
/**
 * Crew 2 stylesheet  
 * */
.crew-2 {
  padding-top: 110px;
  padding-bottom: 88px;
}
.crew-2 h3 {
  margin: 0 0 73px;
  font-size: 30px;
  text-align: left;
  font-weight: 300;
}
.crew-2 .members {
  display: table;
  width: 100%;
}
.crew-2 .members .member-wrapper {
  display: table-cell;
}
.crew-2 .members .member-wrapper:first-child + .member-wrapper {
  text-align: center;
}
.crew-2 .members .member-wrapper:first-child + .member-wrapper + .member-wrapper {
  text-align: right;
}
.crew-2 .members .member {
  width: 265px;
  display: inline-block;
  padding-bottom: 23px;
  -webkit-transition: border-color 0.4s;
  -moz-transition: border-color 0.4s;
  -o-transition: border-color 0.4s;
  transition: border-color 0.4s;
}
.crew-2 .members + .members .member {
  padding-top: 78px;
  border-top: 2px solid #ebedee;
}
.crew-2 .members .photo-wrapper {
  width: 265px;
  height: 180px;
  position: relative;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #ecf0f1;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.crew-2 .members .photo {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
  background: 50% 50% no-repeat;
  opacity: 30;
  filter: alpha(opacity=3000);
  opacity: 0.3;
  filter: alpha(opacity=30);
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.crew-2 .members .photo img {
  display: none;
}
.crew-2 .members .info {
  text-align: center;
  font-size: 14px;
  color: #7f8c8d;
  margin-top: 29px;
}
.crew-2 .members .name {
  position: absolute;
  left: 19px;
  bottom: 19px;
  color: #fff;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.14em;
}
.crew-2 .members .position {
  position: absolute;
  right: 19px;
  bottom: 19px;
  color: #fff;
  font-size: 13px;
  font-style: italic;
}
.crew-2 .members .social-btns {
  white-space: nowrap;
  margin-top: 24px;
}
.crew-2 .members .social-btns > * {
  display: inline-block;
  margin-left: 10px;
  font-size: 16px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  text-align: center;
  color: #1abc9c;
}
.crew-2 .members .social-btns > *:first-child {
  margin-left: 0;
}
.crew-2 .members .social-btns > * > * {
  display: block;
  position: relative;
  top: 0;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.crew-2 .members .social-btns > * > *:first-child {
  color: #95a5a6;
}
.crew-2 .members .social-btns > *:hover > * {
  top: -100%;
}
.crew-2 .members .member:hover .photo-wrapper {
  background-color: #1abc9c;
}
.crew-2 .members .member:hover .photo {
  opacity: 40;
  filter: alpha(opacity=4000);
  opacity: 0.4;
  filter: alpha(opacity=40);
}
@media (max-width: 991px) and (min-width: 768px) {
  .crew-2 .members .member,
  .crew-2 .members .photo-wrapper {
    width: 230px;
  }
}
@media (max-width: 767px) {
  .crew-2 .members {
    display: block;
    width: auto;
  }
  .crew-2 .members .member-wrapper {
    display: block;
    text-align: center!important;
  }
  .crew-2 .members .member-wrapper + .member-wrapper .member {
    padding-top: 78px;
    border-top: 2px solid #ebedee;
  }
}
/**
 * Copntact 2 stylesheet  
 * */
.contacts-2 {
  padding-top: 110px;
  padding-bottom: 110px;
}
.contacts-2 h3 {
  font-size: 30px;
  margin: 0 0 40px;
  font-weight: 300px;
}
@media (max-width: 480px) {
  .contacts-2 h3 {
    font-size: 26px;
    margin: 0 0 30px;
  }
}
.contacts-2 h6,
.contacts-2 .h6 {
  margin: 0 0 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-transform: none;
}
.contacts-2 label.h6 {
  margin-bottom: 12px;
}
.contacts-2 p {
  font-size: 16px;
  line-height: 1.6;
}
.contacts-2 a {
  color: #1abc9c;
}
.contacts-2 a:hover,
.contacts-2 a:focus,
.contacts-2 a.active {
  color: #15967d;
}
.contacts-2 form {
  margin: 0;
  padding: 46px;
  border: 2px solid #ebedee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.contacts-2 form input,
.contacts-2 form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 29px;
  border-color: #ebedee;
  color: #7f8c8d;
}
.contacts-2 form input:focus,
.contacts-2 form textarea:focus {
  border-color: #1abc9c;
}
.contacts-2 form textarea {
  height: 120px;
}
.contacts-2 form input {
  height: 45px;
}
.contacts-2 form textarea {
  height: 120px;
}
.contacts-2 form label {
  margin-bottom: 18px;
}
.contacts-2 form .btn {
  margin-top: 7px;
  min-width: 150px;
}
.contacts-2 form .btn [class*="fui-"] {
  font-size: 24px;
}
.contacts-2 form .btn.btn-primary:hover,
.contacts-2 form .btn.btn-primary:focus {
  background-color: #e74c3c;
}
.contacts-2 form .btn.btn-primary:active,
.contacts-2 form .btn.btn-primary.active {
  background-color: #c44133;
}
.contacts-2 .map {
  height: 165px;
  margin: 25px 0 60px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
}
.contacts-2 .links {
  margin-top: 20px;
}
.contacts-2 .links a {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}
.contacts-2 .links [class*="fui-"] {
  font-size: 26px;
  vertical-align: middle;
  margin: -3px 23px 0 0;
}
@media (max-width: 767px) {
  .contacts-2 > .container > .row > * + * {
    margin-top: 55px;
  }
}
@media (max-width: 480px) {
  .contacts-2 form {
    margin-bottom: 80px;
    padding: 15px;
  }
  .contacts-2 form label {
    margin-bottom: 0px;
  }
}
/**
 * Footer 3 stylesheet  
 * */
.footer-3 {
  font-size: 14px;
  padding-top: 65px;
  padding-bottom: 65px;
  background: #2c3e50;
  color: #bdc3c7;
}
.footer-3.v-center,
.footer-3 .v-center {
  display: table;
  width: 100%;
}
.footer-3.v-center > div,
.footer-3 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
@media (min-width: 768px) {
  .footer-3.v-center.row:before,
  .footer-3 .v-center.row:before,
  .footer-3.v-center.row:after,
  .footer-3 .v-center.row:after {
    display: none;
  }
}
@media (max-width: 767px) {
  .footer-3.v-center,
  .footer-3 .v-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
  }
  .footer-3.v-center.row,
  .footer-3 .v-center.row {
    display: block;
    width: auto;
  }
  .footer-3.v-center.row:before,
  .footer-3 .v-center.row:before,
  .footer-3.v-center.row:after,
  .footer-3 .v-center.row:after {
    display: none;
  }
  .footer-3.v-center.row > *,
  .footer-3 .v-center.row > * {
    display: block;
    vertical-align: baseline;
  }
}
.footer-3 .row.v-center {
  padding-left: 0;
  padding-right: 0;
}
.footer-3 a {
  color: #ffffff;
  font-weight: normal;
}
.footer-3 a:hover,
.footer-3 a:focus,
.footer-3 a.active {
  color: #bdc3c7;
}
.footer-3 h1,
.footer-3 .h1,
.footer-3 h2,
.footer-3 .h2,
.footer-3 h3,
.footer-3 .h3,
.footer-3 h4,
.footer-3 .h4,
.footer-3 h5,
.footer-3 .h5,
.footer-3 h6,
.footer-3 .h6 {
  color: white;
}
.footer-3 .brand {
  font-size: 25px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.footer-3 .additional-links a {
  color: #bdc3c7;
  text-decoration: underline;
}
.footer-3 .additional-links a:hover,
.footer-3 .additional-links a:focus,
.footer-3 .additional-links a.active {
  color: #ffffff;
}
.footer-3 h6 {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 300;
  text-transform: none;
}
.footer-3 .address {
  line-height: 1.6;
}
@media (max-width: 767px) {
  .footer-3 .row > [class*="col-sm-"] {
    margin-top: 30px;
  }
  .footer-3 .row > [class*="col-sm-"]:first-child {
    margin-top: 0;
  }
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}